body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
}

#works {
  margin-top: 3%;
  align-items: unset;
}

a {
  text-decoration: none;
  color: black !important;
}

.text-center {
  text-align: center;
}

a:hover {
  opacity: 0.5;
  transition: opacity 0.8s ease;
}

::-moz-selection {
  background-color: #000000;
  color: #fff;
}
::selection {
  background-color: #000000;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NAV */
#nav {
  display: flex;
}
.nav {
  background-color: white;
  opacity: 0.7;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#toggle-mobile-menu {
  content: url("./images/open-menu-icon.svg");
  display: none;
  z-index: 2;
  position: fixed;
  top: 10px;
  right: 10px;
}

.brand {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brand-logo {
  height: 80%;
  padding: 0px 10px;
}

.nav-items {
  padding: 0px 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

button.nav-item {
  border: none;
  margin: 0px;
  padding: 0px 25px;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 100%;
}

.sm-items {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sm-link {
  padding: 0px 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.sm-icon {
  height: 60%;
  cursor: pointer;
}

.sm-icon-sm {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* HOME */
.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home-section {
  flex: 1;
}

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.nav-px {
  padding-right: 5px;
  padding-left: 5px;
}

.btn-outline {
  background: transparent;
  padding: 5px;
  font-size: 1em;
  border: solid 2px white;
  cursor: pointer;
}

.btn-outline:hover {
  transform: scale(1.01);
}

.btn-outline:active {
  transform: scale(0.99);
}

.logo-lg {
  height: 100%;
}

.nav-item {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: transparent;
  transform: scale(1) !important;
}
.nav-item:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
  transform: scale(1) !important;
  background-color: transparent;
}
.nav-item:active {
  transform: scale(1) !important;
  background-color: transparent;
}
.nav-item:visited {
  color: black;
  background-color: transparent;
}

.drop-shadow {
  box-shadow: 1px 1px 10px;
}

.current {
  text-decoration: underline;
}

.mt-break {
  margin-top: 200px;
}

.mt-break-sm {
  margin-top: 100px;
}

#success {
  color: #4bb543;
  font-weight: bold;
  text-align: center;
}

#error {
  color: #a63232;
  font-weight: bold;
  text-align: center;
}

.hide {
  display: none;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: url("./images/background.jpg") no-repeat center center;
  background-size: cover;
}

.fill-width {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.w-100 {
  width: 100%;
}

.white {
  color: white !important;
  border-color: white !important;
}

.filter-shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.55));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.55));
}

.box-shadow {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.card-heading {
  margin-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

.card-header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.card-body {
  margin: 0;
  padding: 10px;
  text-align: left;
}

.card-title {
  font-size: 1.5em;
  padding-left: 10px !important;
}

.not-a-link {
  pointer-events: none !important;
}

.not-a-link:hover {
  opacity: 1 !important;
}

.not-a-link:active {
  opacity: 1 !important;
}

.mb-sm {
  margin-bottom: 5px;
}

input,
textarea {
  width: 100% !important;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: solid 2px white;
  margin: 10px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 4px;
}

select {
  float: right;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: solid 2px white;
  opacity: 0.5;
  margin: 10px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button[type="submit"] {
  background: black;
  border: none;
  border-radius: 2px;
  color: white;
  margin: 0px auto;
  max-width: 50%;
  margin: 0 auto;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.card {
  flex-basis: 25%;
}

.card-lg {
  flex-basis: 75%;
}

.card-mg {
  margin: 0px 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.55));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.55));
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.fog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}
.fog__container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.fog__img {
  position: absolute;
  height: 100vh;
  width: 300vw;
}
.fog__img--first {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png")
    repeat-x;
  background-size: cover;
  background-position: center;
  animation: marquee 120s linear infinite;
}
.fog__img--second {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png")
    repeat-x;
  background-size: cover;
  background-position: center;
  animation: marquee 80s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

.signal {
  border: 2px solid #fff;
  border-radius: 30px;
  height: 11px;
  width: 11px;
  margin: 0 auto;
  padding: 0;
  opacity: 0;

  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media only screen and (max-width: 1060px) {
  .card {
    flex-basis: 50%;
  }
  .card-mg {
    margin: 20px 30px;
  }
}

@media only screen and (max-width: 720px) {
  body {
    overflow-y: auto;
  }
  #nav {
    flex-direction: column;
    height: 100vh;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    opacity: 1;
  }
  #toggle-mobile-menu {
    display: block;
  }
  .brand {
    height: 20%;
  }

  .brand-logo {
    height: 50%;
  }
  #works {
    margin-top: 0;
  }
  .nav-items {
    flex-direction: column;
    width: 100%;
  }
  .header {
    flex-direction: row;
  }
  button.nav-item {
    width: 100%;
    font-size: 2em;
  }

  .sm-items {
    height: 10%;
  }

  .sm-link {
    height: 80%;
  }
  .logo-lg {
    width: 90%;
  }
  #background {
    transform: scale(1);
    background-size: cover;
  }
  .card {
    flex-basis: 100%;
  }
  .card-lg {
    flex-basis: 80%;
  }
  .logo-wrapper {
    justify-content: center;
  }
}

@media only screen and (max-width: 440px) {
  body {
    overflow-y: auto;
  }
  .card-lg {
    flex-basis: 90%;
  }
}
