html, body, #root {
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  flex: 1 !important;
}

.starfield {
  z-index: -10;
  filter: blur(4px);
}

.cursor-pointer {
  cursor: default !important;
}

.text-decoration-underline {
  text-decoration: underline;
}

.dropdown {
  position: absolute;
  background-color: #1a1d24;
  z-index: 500;
}

.dropdown-nav > ul {
  display: flex;
  flex-direction: column;
}

.dropdown-nav > ul > a {
  text-align: end;
}

.dropdown-nav > ul > a > li > a {
  font-size: 23px !important;
}
